.keycap {
  background-color: white;
  border-radius: 6px;
  border: 1px solid black;
  box-shadow: inset 6px 3px 0 #ccc, inset -6px -6px 0 #ccc, inset 6px -6px 0 #ccc, inset -6px 3px 0 #ccc;
  box-sizing: border-box;
  color: black;
  contain: strict;
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  position: absolute;
  transition: box-shadow 50ms ease;
  user-select: none;
}
