.keycap {
  background-color: white;
  font-family: Helvetica, Arial, sans-serif;
  contain: strict;
  display: inline-block;
  position: relative;
  border-radius: 6px;
  border: 1px solid black;
  font-size: 12px;
  box-sizing: border-box;
  box-shadow: inset 6px 3px 0 #ccc, inset -6px -6px 0 #ccc, inset 6px -6px 0 #ccc, inset -6px 3px 0 #ccc;
  transition: box-shadow 50ms ease;
  user-select: none;
}

.keycap span {
  position: absolute;
  margin: 9px;
}

.keycap span:nth-child(1) {
  top: 0;
  left: 0;
}

.keycap span:nth-child(2) {
  bottom: 0;
  left: 0;
}

.keycap span:nth-child(3) {
  display: none;
}
