.keyboard {
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  background: #eee;
  border-radius: 6px;
  /* TODO, only static for now */
  height: 300px;
  width: 830px;
  margin: auto;
}

.keycaps {
  position: relative;
}
