.container {
  text-align: center;
}

.keyboard {
  box-sizing: border-box;
  padding: 10px;
  background: #eee;
  border-radius: 6px;
  display: inline-block;
  margin: auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
